/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

:root {
	--primary-bg-color: rgba(0, 150, 178, .75);
	--primary-outline-color: #000075;
}

@mixin clearfix {
	&:after {
		display: table;
		clear: both;
	}
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: steelblue;
	min-height: 100%;
}

a {
	text-decoration: none;
	color: inherit
}

.main-header {
	background-color: #000025;
	padding: 5px 40px 10px 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* @media (min-width: 1025px) {
	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}
} */

.name {
	color: white;
	font-size: 1.35em;
	margin: 0;
}

.header-logo {
	justify-self: flex-start;
}

.header-link {
	justify-self: flex-end;
}

a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

.main-nav {
	margin: 0;
	list-style-type: none;
	display: flex;

}

a {
	text-align: center;
	display: inline-block;
	font-family: "Google Sans", sans-serif;
	padding: 10px 15px;
	font-size: 1.5em;
	color: #ffff00;
	text-transform: uppercase;
	margin: 0px 10px;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url("images/Background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

.center {
    width: 66%;
	min-width: 300px;
	max-width: 1000px;
	padding: 2%;
    margin: 100px auto;
 	background: var(--primary-bg-color);
	text-align: center;
	border: 4px solid var(--primary-outline-color);
}


.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;

	.left-center {
    	width: 45%;
		padding: 2%;
    	margin: 20px 20px;
 		background: rgba(0, 150, 178, .40);
		text-align: left;
		border: 4px solid var(--primary-outline-color);
	}

	.right-center {
    	width: 45%;
		padding: 2%;
    	margin: 20px 20px;
 		background: rgba(0, 150, 178, .40);
		text-align: right;
		border: 4px solid var(--primary-outline-color);
	}
}

.egg-subscribe-text {
	font-size: 4em;
}

.egg-hunt {
	font-weight: 800;
	color: #e5e5e5;
}

.link {
	font-size: 1em;
}

.strikethrough-text{
	text-decoration: line-through;
}

#logo {
    margin-bottom: 16px;
	border: 3px solid var(--primary-outline-color);
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 10em;
	margin: 0px auto 10px auto;
	color: #000075;
	font-family: "Google Sans", sans-serif;
  	/* font-optical-sizing: auto; */
  	font-style: normal;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.5em;
    line-height: 1.4;
    color: #2bff00;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
	font-family: "Google Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
}

h3 {
	color: #2bff00;
	font-family: "Google Sans", sans-serif;
  	font-optical-sizing: auto;  	
  	font-style: normal;
}

h4 {
	color: #2bff00;
	font-family: "Google Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
}

h5 {
	color: #2bff00;
	font-family: "Google Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
}

h6 {
	color: #2bff00;
	font-family: "Google Sans", sans-serif;
  	font-optical-sizing: auto; 	
  	font-style: normal;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
	font-family: "Google Sans", sans-serif;
  	font-optical-sizing: auto; 	
  	font-style: normal;
}

/* media queries */

@media only screen and (max-width: 1200px) {
	h1 {
	font-size: 8em;
	}
}

@media only screen and (max-width: 900px) {
	h1 {
	font-size: 6em;
	}
}
@media only screen and (max-width: 650px) {
	h1 {
	font-size: 5em;
	}
}

@media only screen and (max-width: 1755px) { 
	.container {
		justify-content: center;

		.left-center {
			width: 80%;
		}
	
		.right-center{
			width: 80%;
			text-align: left;
		}
	}
}

@media only screen and (max-width: 814px) {
	.egg-subscribe-text {
		font-size: 2em;
	}
}

@media only screen and (max-width: 1100px) {
	.link {
		font-size: 0.6em;
	}
}